body {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(4, 37, 83);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#navbar {
    display: flex;
    justify-content: center;
    gap: 200px;
    color: black;
    padding: 10px;

    a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 24px;
    }
}


header {
    background-color: white;
    padding: 20px;
    text-align: center;
    color: black;
}

#profile {
    text-align: center;
    background-image: url('https://img.freepik.com/photos-gratuite/ciel-au-dessus-nuages-fond-ecran-nuages-cinematographiques-3_1562-740.jpg');
    color: white;
    padding: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-pic img:hover {
    transform: scale(1.3);
}

h1 {
    font-size: 20px;
    margin: 10px;
}

.social-icons {
    display: flex;
    height: 50px;
    gap: 50px;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: black;
}

#education {
    margin: 20px;
    padding: 20px;
    background: white;
}


.education-item {
    display: flex;
    gap: 100px;
    margin-bottom: 10px;
}

#skills {
    width: 45%;
    margin: 20px;
    padding: 20px;
    background: white;
}

.skill-item {
    margin: 10px 0;
}

.skill-bar {
    width: 100%;
    background: rgb(167, 54, 73);
    height: 10px;
    border-radius: 5px;
}

.skill-bar span {
    display: block;
    height: 100%;
    background: #000;
    border-radius: 5px;
}

#experience {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px;
    width: 45%;
    margin: 20px;
    padding: 20px;
    background: white;

   

}

.experience-item {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#skills {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px;
}


#skills-experience-container {
    display: flex;
    gap: 20px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-image: url(./Image/fond-neigeux-noel_1048-9078.avif);
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contact p {
    color: white;
}

#contact button {
    background: white;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

#contact button :hover {
    transform: scale(1.5);
}

footer {
    background-color: white;
    color: black;
    text-align: center;
}

.social-footer  {
    display: flex;
    gap: 50px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
i:hover{
    transform: scale(1.5);
    background-color: aliceblue;
}

h2 {
    font-size: 22px;
    border-bottom: 2px solid black;
    padding: 5px;
}

h3{
    border-right: 2px solid black;
    padding: 5px;
}