@media (max-width: 1024) {
    header a {
        font-size: small;
    }
}

@media (max-width: 768px) {
    body{
        justify-content: center;
        margin: auto;
        align-items: center;  
    }
    header{
        max-width: max-content;
    }

    #skills, #experience, #education, #contact {
        width: 80%;
        flex-direction: column;
        gap: 20px;
    }

    #skills-experience-container {
        flex-direction: column;
    }

    .social-icons img {
        width: 30%;
    }

    #navbar {
        flex-direction: column;
        justify-content: center;
        margin: auto;
        align-items: center;
        gap: 30px;
    }

    .profile-pic img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    header {
        max-width: max-content;
        margin:  auto;
        text-align: center;
    }

    .social-icons {

        justify-content: center;
    }

    .social-icons img {
        width: 10%;
    }

    #skills, #experience, #education, #contact {
        width: 80%;
        padding: 10px;
        text-align: center;
    }

    .social-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-footer img {
        width: 20px;
        margin: 2px;
    }

    #contact button {
        padding: 8px 15px;
        font-size: 14px;
        margin:  auto;
    }

    footer {
        font-size: 75%;
        text-align: center;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        width: auto;
    }
}
